* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html, body {
  height: 100%;
}

.app {
  height: 100vh;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 400px;
  height: 95%;
  border-radius: 32px;
  padding: 28px 22px;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 32px rgba(0,0,0,0.5);
  transition: all 0.5s ease;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 26px;
  text-align: center;
  color: #222;
}

.face {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}

.eyes {
  display: flex;
  gap: 36px;
  position: relative;
}

.eye {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #555;
  position: relative;
  overflow: hidden;
}

.eyeball {
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 70%;   
  left: 50%;
  transform: translate(-50%, -50%);
}

.mood-text { 
  text-align: center; 
  font-size: 34px; 
  font-weight: 700; 
  margin-top: 30px; 
  transition: all 0.3s ease; 
  color: #333333c0;
}

.mouth {
  margin-top: 20px;
  width: 60px;
  height: 30px;
  position: relative;
  transition: all 0.5s ease;
}

/* Slider */
.slider {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 52px;
  margin-bottom: 12px;
}

.line {
  position: absolute;
  left: 24px;
  right: 24px;
  top: 50%;
  height: 4px;
  border-radius: 6px;
  transform: translateY(-50%);
  background: #ccc;
}

.dot {
  position: absolute;
  top: 50%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.15);
  transition: all 0.25s ease;
}

.dot.active {
  width: 30px;
  height: 30px;
  background: #222;
}

.dot-mouth {
  width: 12px;
  height: 6px;
}

.dot-mouth.bad { border-top: 2px solid #fff; border-radius: 10px 10px 0 0; }
.dot-mouth.okay { height: 2px; background: #fff; }
.dot-mouth.good { border-bottom: 2px solid #fff; border-radius: 0 0 10px 10px; }

.labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 6px;
  padding: 0 10px;
  color: #222;
}

textarea {
  width: 100%;
  margin-top: 14px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #ccc;
  resize: none;
}

.actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d5dad5;
  width: 100%;
  border-radius: 999px;
}

.add-feedback {
  background: none;
  border: none;
  padding: 5px 20px;
  font-size: 14px;
  cursor: pointer;
  color: #333;
  border-radius: 10px;
  transition: background-color 0.3s, text-decoration 0.3s;
}

.add-feedback:hover {
  transform: scale(1.08);
  text-decoration: underline;
}

.submit {
  background: #222;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 999px;
  cursor: pointer;
}

.success-message {
  margin-top: 60px;
  text-align: center;
  color: #222;
}

.success-message .feedback {
  margin-top: 30px;
  padding: 5px;
  border-radius: 12px;
  background: #afafaf5f;
}

.confetti-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 0;
  transform: translate(-50%, -50%);
  overflow: visible;
  pointer-events: none;
}

.confetti {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #fbc02d;
  border-radius: 2px;
}
